# Ignore test screenshots
tests/
*.png
*.jpg

# Ignore Python packaging metadata
autocore.egg-info/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore Sphinx build output
docs/build/

# Ignore virtual environments
venv/
.venv/
env/

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore PyCharm IDE settings
.idea/